streamlit

pandas
numpy

plotly

groq

langchain
langgraph

langchain-community
langchain-core

chromadb

sentence-transformers

faiss-cpu

pdfplumber

camelot-py

tabula-py

pymupdf

beautifulsoup4

requests

openpyxl

reportlab

python-dotenv

pydantic

tqdm

scikit-learn

matplotlib

seaborn

networkx

duckdb

pyarrow

rapidfuzz

lxml

html5lib

fake-useragent

tenacity

joblib

sqlalchemy

streamlit-option-menu

streamlit-aggrid

streamlit-extras

langchain-groq

langchain-text-splitters

unstructured

pypdf

python-multipart

xlsxwriter
